<p><a [href] = "this.RouterEvent">RouterEvent</a> - класс, который представляет базу событий через которые проходит маршрутизатор(Router).
  В отличий от событий привязанных к определенному маршруту, срабатывает один раз для любой заданной навигации. Экземпляр данного класса
  можно получить из класса Router и свойства event. События маршрутизатора, позволяют отслеживать жизненный цикл маршрутизатора в следующей
  последовательности: NavigationStart, RouteConfigLoadStart, RouteConfigLoadEnd, RoutesRecognized, GuardsCheckStart, ChildActivationStart,
  ActivationStart, GuardsCheckEnd, ResolveStart, ResolveEnd, ChildActivationEnd, ActivationEnd, NavigationEnd, NavigationCancel,
  NavigationError, Scroll.</p>
