<p><a [href] = "this.Router">Router</a> - класс, МАРШРУТИЗАТОР обеспечивающий навигацию между представлениями и возможностью манипулированием
URL-адресами. </p>

<!--<div>-->
<!--  <ul>-->
<!--    <li><i>events: Observable< Event></i> - чтение, возвращает поток событий маршрутизации в NgModule;</li>-->

<!--    <li><i>routerState: RouterState</i> - чтение,текущее состояние маршрутизации в этом модуле NgModule;</li>-->

<!--    <li><i>errorHandler: ErrorHandler</i> - обработчик ошибок навигации в этом модуле NgModule;</li>-->

<!--    <li><i>malformedUriErrorHandler: (error: URIError, urlSerializer: UrlSerializer, url: string) => UrlTree</i> - обработчик ошибок,-->
<!--      возникающих, Router.parseUrl(url) когда url содержит недопустимый символ;</li>-->

<!--    <li><i>navigated: boolean</i> - возвращает логическое значение, если произошло хотя бы одно событие навигации;</li>-->
<!--    <li><i>onSameUrlNavigation: 'reload' | 'ignore'</i> - обрабатывает запрос навигации по текущему URL-адресу. Один из: 'ignore' :-->
<!--      маршрутизатор игнорирует запрос; 'reload': маршрутизатор перезагружает URL-адрес. Используется для реализации функции «обновления»;</li>-->
<!--    <li><i>paramsInheritanceStrategy: 'emptyOnly' | 'always'</i> - объединяет данные из родительского и дочерних маршуртов. Один из:-->
<!--      'emptyOnly': наследовать родительские параметры, данные и разрешенные данные для маршрутов без пути или компонентов; 'always':-->
<!--      наследовать родительские параметры, данные и разрешенные данные для всех дочерних маршрутов;</li>-->
<!--    <li><i>urlUpdateStrategy: 'deferred' | 'eager' </i> - определяет, когда маршрутизатор обновляет URL-адрес браузера. Один из:-->
<!--      'deferred': по умолчанию, обновляет URL-адрес браузера после завершения навигации; 'eager': обновления URL-адреса браузера в начале-->
<!--      навигации;</li>-->
<!--    <li><i>relativeLinkResolution: 'legacy' | 'corrected'</i> - исправляет ошибки в компонентах с пустыми путями;</li>-->
<!--    <li><i>config: Routes</i> - ;</li>-->
<!--    <li><i>url: string</i> - чтение, текущий URL;</li>-->
<!--    <li><i>initialNavigation(): void</i> - метод, устанавливает прослушиватель изменения местоположения и выполняет начальную навигацию;</li>-->
<!--    <li><i>setUpLocationChangeListener(): void</i> - метод, устанавливает прослушиватель изменения местоположения. Этот прослушиватель-->
<!--      обнаруживает навигацию, инициированную извне маршрутизатора (например, кнопки браузера назад / вперед) и планирует соответствующую-->
<!--      навигацию маршрутизатора, чтобы запускались правильные события);</li>-->
<!--    <li><i>getCurrentNavigation(): Navigation | null</i> - метод, возвращает текущий Navigation объект, когда маршрутизатор перемещается, и-->
<!--      null когда он простаивает;</li>-->
<!--    <li><i>resetConfig(config: Route[]): void</i> - метод, сбрасывает конфигурацию маршрута, используемую для навигации и создания ссылок;</li>-->
<!--    <li><i>dispose(): void</i> - метод, избавляется от роутера;</li>-->
<!--    <li><i>createUrlTree(commands: any[], navigationExtras: UrlCreationOptions = }): UrlTree</i> - метод, добавляет сегменты URL-адреса в-->
<!--      текущее дерево URL-адресов для создания нового дерева URL-адресов;</li>-->
<!--    <li><i>navigateByUrl(url: string | UrlTree, extras: NavigationBehaviorOptions = skipLocationChange: false }): Promise< boolean></i> - -->
<!--      метод, переход к представлению с использованием абсолютного пути маршрута;</li>-->
<!--    <li><i>navigate(commands: any[], extras: NavigationExtras =  skipLocationChange: false }): Promise< boolean></i> - метод, перемещайтесь-->
<!--      на основе предоставленного массива команд и отправной точки. Если начальный маршрут не указан, навигация будет абсолютной;</li>-->
<!--    <li><i>serializeUrl(url: UrlTree): string</i> - метод, сериализует UrlTree в строку;</li>-->
<!--    <li><i>parseUrl(url: string): UrlTree</i> - метод, разбирает строку в UrlTree.</li>-->
<!--  </ul>-->
<!--</div>-->

