<p><b><a [href] = "this.Pipe">Pipe</a></b> - декоратор @Pipe(), который отмечает класс как канал и предоставляет метаданные конфигурации.
  Класс канала должен реализовывать PipeTransform интерфейс.</p>
<!--<div>-->
<!--  <p>Метаданные @Pipe():</p>-->
<!--  <ul>-->
<!--    <li><i>name: string</i> - имя канала для использования в привязках шаблона. Обычно используется lowerCamelCase, потому что имя не-->
<!--      может содержать дефисы;</li>-->
<!--    <li><i>pure?: boolean</i> - если установлено значение true, канал является чистым, что означает, что transform()метод вызывается только-->
<!--      при изменении его входных аргументов. Трубы по умолчанию чистые. Если канал имеет внутреннее состояние (то есть результат зависит от-->
<!--      состояния, отличного от его аргументов), установите pure значение false. В этом случае канал вызывается в каждом цикле обнаружения-->
<!--      изменений, даже если аргументы не изменились.</li>-->
<!--  </ul>-->
<!--</div>-->
