<p><b><a [href] = "this.NgStyle">NgStyle</a></b> - директива атрибута, обновляющая стили для содержащего HTML-элемента. Устанавливает
  одно или несколько свойств стиля, указанных в виде пар "ключ-значение", разделенных двоеточиями. Ключ - это имя стиля с необязательным
  .unit суффиксом(например, «top.px», «font-style.em»). Значение - это выражение, которое нужно оценить. Результирующее ненулевое
  значение, выраженное в данной единице, присваивается данному свойству стиля. Если результат оценки равен нулю, соответствующий стиль
  удаляется.</p>

<!--<div>-->
<!--  <p [ngStyle]="{'color': this.color}">Установливает стиль из выражения.</p>-->
<!--  <p [ngStyle]="{'max-width.px': this.size}">Установливает ширину элемента равной значению пикселя из выражения.</p>-->
<!--  <p [ngStyle]="this.exp">Установливает набор значений стиля из выражения.</p>-->
<!--</div>-->
