<p><b><a [href] = "this.FormGroupName">FormGroupName</a></b> - синхронизирует вложенный FormGroup элемент с элементом DOM. Эта директива
  может использоваться только с директивой родительской FormGroupDirective. Данная директива унаследует свойства и методы классов
  AbstractFormGroupDirective, ControlContainer, AbstractControlDirective.
</p>

<!--<div [formGroup]="this.form">-->
<!--  <div formGroupName="name">-->
<!--    <input type = "text" formControlName="firstName">-->
<!--    <input type = "password" formControlName="password">-->
<!--  </div>-->

<!--  <div>-->
<!--    <input type = "email" formControlName="email">-->
<!--  </div>-->

<!--</div>-->
