<p><a [href] = "this.FormGroupName">FormGroupName</a> - атрибут: <i>formGroupName</i> - привязывает существующий formGroupName из экземпляра
  FormGroup из компонента к элементу DOM. Эта директива может использоваться только с родителем FormGroupDirective. Принимает строковое имя
  вложенной в FormGroup экземпляр ссылки и ищет имя в родительском FormGroup.</p>

<!--<div [formGroup]="this.form">-->
<!--  <div formGroupName="name">-->
<!--    <input type = "text" formControlName="firstName">-->
<!--    <input type = "password" formControlName="password">-->
<!--  </div>-->

<!--  <div>-->
<!--    <input type = "email" formControlName="email">-->
<!--  </div>-->

<!--</div>-->
