<p><a [href] = "this.NgModelGroup">NgModelGroup</a> - атрибут: <i>ngModelGroup</i> - данная директива может использоваться как дочерняя
  для NgForm внутри HTML-элемента form. Создает NgModelGroup экземпляр класса и привязывает к элементу DOM. При указании имени подгруппы,
  это имя становится ключом для этой подгруппы. Для наглядности, что находится в ngModelGroup возможно локальной перемененной передать
  директиву ngModelGroup( #myTemplateVar="ngModelGroup").
</p>


<!--<div>-->
<!--  <form ngForm (ngSubmit) = "this.onSubmit(nameCtrl)">-->
<!--    <div ngModelGroup = "name" #nameCtrl = "ngModelGroup">-->
<!--      <input name = "first" [ngModel] = "name.first" minlength = "2">-->
<!--      <input name = "last" [ngModel] = "name.last" required>-->
<!--    </div>-->

<!--    <input name = "email" ngModel>-->
<!--    <button>Submit</button>-->
<!--  </form>-->

<!--  <button (click) = "setValue()">Set value</button>-->
<!--</div>-->


