<p><a [href] = "this.HttpErrorResponse">HttpErrorResponse</a> - класс, который наследуется от базового абстрактного класса HttpResponseBase.
  Ответ, который представляет собой ошибку или сбой, связанный либо с неуспешным статусом HTTP, либо с ошибкой при выполнении запроса, либо
  с другой ошибкой, возникшей во время синтаксического анализа ответа. Любая ошибка, возвращаемая в Observable потоке ответа, будет
  заключена в HttpErrorResponse дополнительный контекст о состоянии уровня HTTP, когда произошла ошибка.</p>
