<p><b><a [href] = "this.SlicePipe">SlicePipe</a></b> - создает новый Array или String содержащий подмножество элементов. При работе с
  объектом Array возвращается Array всегда копия, даже если возвращаются все элементы. При работе с пустым значением труба возвращает
  пустое значение.</p>

<!--<div>-->
<!--  <p>Форматируемое значение должно быть типа <i>string | ReadonlyArray</i>, принимает параметры <i>start:	number; end: number</i></p>-->
<!--  <p>{{ this.str | slice:1 : 6}}</p>-->
<!--</div>-->
