<p><a [href] = "this.NgControl">NgControl</a> - абстрактный базовый класс, FormControl расширяемый всеми директивами. Он связывает
  FormControl объект с элементом DOM. Подклассы: NgModel, FormControlDirective, FormControlName. Наследует(расширяет) класс
  AbstractControlDirective.</p>
<!--<div>-->
<!--  <ul>-->
<!--    <li><i>name: string | number | null</i> - возвращает название элемента управления;</li>-->
<!--    <li><i>valueAccessor: ControlValueAccessor | null</i> - аксессор значения для элемента управления;</li>-->
<!--    <li><i>abstract viewToModelUpdate(newValue: any): void</i> - метод обратного вызова для обновления модели из представления по запросу.</li>-->
<!--  </ul>-->
<!--</div>-->
