<p><a [href] = "HttpHeaders">HttpHeaders</a> - класс, представляет параметры конфигурации заголовка для HTTP-запроса. Экземпляры
  неизменяемы. Методы модификации возвращают клонированный экземпляр с изменением. Исходный объект никогда не изменяется.</p>

<!--<ul>-->
<!--  <li><i>has(name: string): boolean</i> - метод, проверяет наличие заданного заголовка;</li>-->
<!--  <li><i>get(name: string): string | null</i> - метод, извлекает первое значение заданного заголовка;</li>-->
<!--  <li><i>keys(): string[]</i> - метод, получает имена заголовков;</li>-->
<!--  <li><i>getAll(name: string): string[] | null</i> - метод, извлекает список значений для данного заголовка;</li>-->
<!--  <li><i>append(name: string, value: string | string[]): HttpHeaders</i> - метод, добавляет новое значение к существующему набору-->
<!--    значений для заголовка и возвращает их в клоне исходного экземпляра;</li>-->
<!--  <li><i>set(name: string, value: string | string[]): HttpHeaders</i> - метод, устанавливает или изменяет значение для данного заголовка в-->
<!--    клоне исходного экземпляра. Если заголовок уже существует, его значение заменяется заданным значением в возвращаемом объекте;</li>-->
<!--  <li><i>delete(name: string, value?: string | string[]): HttpHeaders</i> - метод, удаляет значения для данного заголовка в клоне -->
<!--    исходного экземпляра;</li>-->
<!--</ul>-->
