<p><a [href] = "this.Route">Route</a> - интерфейс, представляет собой объект для конфигурации одного единственного МАРШРУТА. Наборы
  маршрутов собираются в массив типа Routes[]. Массив маршрутов состоящий из Route определяет конфигурацию маршуритизации(Router). Router
  пытается сапоставить сегменты каждого URL-адреса с каждым Route используя параметры конфигурации определенные в этом объекте Route.</p>

<!--<div>-->
<!--  <ul>-->
<!--    <li><i>path?: string</i> - строка URL-адреса, в которой используется нотация сопоставления маршрутизатора. Может быть подстановочным-->
<!--      знаком (**), который соответствует любому URL-адресу;</li>-->
<!--    <li><i>pathMatch?: string</i> - сапоставляет путь. Стратегия соответствия пути "full" соответствует всему URL-адресу. Это важно сделать-->
<!--      при перенаправлении маршрутов с пустым путем;</li>-->
<!--    <li><i>matcher?: UrlMatcher</i> - пользовательская функция сопоставления URL-адресов. Не может использоваться вместе с path;</li>-->
<!--    <li><i>component?: Type< any></i> - компонент, который создается при совпадении пути. Может быть пустым, если в дочерних маршрутах-->
<!--      указаны компоненты;</li>-->
<!--    <li><i>redirectTo?: string</i> - URL-адрес для перенаправления при совпадении пути;</li>-->
<!--    <li><i>outlet?: string</i> - имя RouterOutlet объекта, в котором можно разместить компонент при совпадении пути;</li>-->
<!--    <li><i>canActivate?: any[]</i> - массив токенов внедрения зависимостей, используемый для поиска CanActivate() обработчиков, чтобы-->
<!--      определить, разрешено ли текущему пользователю активировать компонент. По умолчанию активировать может любой пользователь;</li>-->
<!--    <li><i>canActivateChild?: any[]</i> - массив токенов внедрения зависимостей, для поиска CanActivateChild()обработчиков, чтобы-->
<!--      определить, разрешено ли текущему пользователю активировать дочерний элемент компонента. По умолчанию любой пользователь может-->
<!--      активировать ребенка;</li>-->
<!--    <li><i>canDeactivate?: any[]</i> - массив токенов внедрения зависимостей, используемый для поиска CanDeactivate() обработчиков, чтобы-->
<!--      определить, разрешено ли текущему пользователю деактивировать компонент. По умолчанию любой пользователь может отключить;</li>-->
<!--    <li><i>canLoad?: any[]</i> - массив токенов внедрения зависимостей, используемый для поиска CanLoad() обработчиков, чтобы определить,-->
<!--      разрешено ли текущему пользователю загружать компонент. По умолчанию любой пользователь может загрузить;</li>-->
<!--    <li><i>data?: Data</i> - дополнительные данные, определяемые разработчиком, предоставляются компоненту через ActivatedRoute. По-->
<!--      умолчанию никакие дополнительные данные не передаются;</li>-->
<!--    <li><i>resolve?: ResolveData</i> - карта токенов внедрения зависимостей,  используемых для поиска преобразователей данных;</li>-->
<!--    <li><i>children?: Routes</i> - массив дочерних Route объектов, определяющий конфигурацию вложенного маршрута;</li>-->
<!--    <li><i>loadChildren?: LoadChildren</i> - объект, определяющий ленивые дочерние маршруты;</li>-->
<!--    <li><i>runGuardsAndResolvers?: RunGuardsAndResolvers</i> - определяет, когда будут запускаться охранники и резолверы.</li>-->
<!--  </ul>-->
<!--</div>-->
