<p><a [href] = "this.NgTemplateOutlet">NgTemplateOutlet</a> - атрибут: <i>*NgTemplateOutlet</i>  - структурная директива, вставляет встроенный вид из подготовленного TemplateRef.
  Возможно прикрепить объект контекста к объекту EmbeddedViewRef, установив [ngTemplateOutletContext].[ngTemplateOutletContext] должен быть
  объектом, ключи объекта будут доступны для привязки с помощью let объявлений локального шаблона.</p>

<!--<div>-->
<!--  <ng-container *ngTemplateOutlet = "a"></ng-container>-->
<!--  <ng-container *ngTemplateOutlet = "b; context: MyContext"></ng-container>-->
<!--  <ng-template #a><p>Без контекста</p></ng-template>-->
<!--  <ng-template #b let-name='firstName'><p>С контекстом {{ name }}</p></ng-template>-->
<!--</div>-->
