<p><b><a [href] = "this.FormArrayName">FormArrayName</a></b> - синхронизирует вложенный FormArray элемент с элементом DOM. Эта директива
  предназначена для использования с родительским элементом FormGroupDirective(селектором:) [formGroup]. Он принимает строковое имя
  вложенного объекта, который FormArray вы хотите связать, и будет искать FormArray зарегистрированный с этим именем в родительском
  FormGroup экземпляре, в который вы перешли FormGroupDirective.</p>

<!--<div>-->
<!--  <form [formGroup]="this.form">-->
<!--    <div formArrayName="cities">-->
<!--    <div *ngFor="let city of cities.controls; index as i">-->
<!--      <input [formControlName]="i" [value]="city">-->
<!--    </div>-->
<!--    </div>-->
<!--  </form>-->
<!--</div>-->
