<p><a [href] = "this.FormArrayName">FormArrayName</a> - атрибут: <i>formArrayName</i> - синхронизирует экземпляр FormArray экземпляра
  FormGroup компонента с элементом DOM. Эта директива может использоваться только с родителем FormGroupDirective. Принимает строковое имя
  вложенного объекта в FormGroup, которое соответствует FormArray.</p>

<!--<div>-->
<!--  <form [formGroup]="this.form">-->
<!--    <div formArrayName="cities">-->
<!--    <div *ngFor="let city of cities.controls; index as i">-->
<!--      <input [formControlName]="i" [value]="city">-->
<!--    </div>-->
<!--    </div>-->
<!--  </form>-->
<!--</div>-->
