<p><a [href] = "this.ComponentRef">ComponentRef</a> - абстрактный класс, представляет собой компонент созданный ComponentFactory.
  Предоставляет доступ к экземпляру компонента и связанным объектам, а также предоставляет средства уничтожения экземпляра.</p>

<!--<ul>-->
<!--  <li><i>location: ElementRef</i> - чтение, хост или элемент привязки для этого экземпляра компонента;</li>-->
<!--  <li><i>injector: Injector</i> - чтение, инжектор зависимостей для этого экземпляра компонента;</li>-->
<!--  <li><i>instance: C</i> - чтение, этот экземпляр компонента;</li>-->
<!--  <li><i>hostView: ViewRef</i> - чтение, вид хоста, определенный шаблоном для этого экземпляра компонента;</li>-->
<!--  <li><i>changeDetectorRef: ChangeDetectorRef</i> - чтение, детектор изменений для этого экземпляра компонента;</li>-->
<!--  <li><i>componentType: Type < any></i> - чтение, тип этого компонента (созданный ComponentFactory классом);</li>-->
<!--  <li><i>destroy(): void</i> - метод, уничтожает экземпляр компонента и все связанные с ним структуры данных;</li>-->
<!--  <li><i>onDestroy(callback: Function): void</i> - метод, ловушка жизненного цикла, которая предоставляет дополнительные функции очистки,-->
<!--    определяемые разработчиком для компонента.</li>-->

<!--</ul>-->
