<p><a [href] = "this.NgForOf">NgForOf</a>  - атрибут: <i>*NgFor</i>  - структурная директива, которая создает HTML-элемент для каждого элемента в коллекции.
  Директива помещается в элемент, который становится родительским для итерируемых HTML-элементов.</p>
<!--<div>-->
<!--  <ul>-->
<!--    <li><i>index: number</i> - индекс текущего элемента в итерируемом объекте;</li>-->
<!--    <li><i>count: number</i> - длина итерации;</li>-->
<!--    <li><i>first: boolean</i> - истина, если элемент является первым элементом в итерации;</li>-->
<!--    <li><i>last: boolean</i> - истина, когда элемент является последним элементом в итерации;</li>-->
<!--    <li><i>even: boolean</i> - истина, если элемент имеет четный индекс в итерируемом объекте;</li>-->
<!--    <li><i>odd: boolean</i> - истина, если элемент имеет нечетный индекс в итерируемом объекте.</li>-->
<!--  </ul>-->
<!--  <ng-container *ngFor = "let arr of this.arrs; index as i; count as b; first as isFirst; last as isLast; even as isEven; odd as isOdd">-->
<!--    <p *ngIf="isFirst">Индекс: {{ i }} - Длинна: {{ b }} - Значение: {{ arr }}</p>-->
<!--    <p *ngIf="isLast">Индекс: {{ i }} - Длинна: {{ b }} - Значение: {{ arr }}</p>-->
<!--    <p *ngIf="isEven">Индекс: {{ i }} - Длинна: {{ b }} - Значение: {{ arr }}</p>-->
<!--    <p *ngIf="isOdd">Индекс: {{ i }} - Длинна: {{ b }} - Значение: {{ arr }}</p>-->
<!--  </ng-container>-->
<!--</div>-->
