<p><a [href]="this.KeyValuePipe">KeyValuePipe</a> - pipe: <i>input_expression | keyvalue</i> - преобразует Object или Map в массив пар
  ключ-значение. Выходной массив будет упорядочен по ключам.</p>

<!--<div>-->
<!--  <p><p>Форматируемое значение должно быть типа <i> [key: string]: V; [key: number]: V; } | ReadonlyMap</i>, принимает параметры-->
<!--  <i>compareFn: (a: KeyValue, b: KeyValue) => number</i></p>-->
<!--  <p *ngFor="let item of object | keyvalue">{{ item.key}}: {{ item.value }}</p>-->
<!--</div>-->
