<p><a [href] = "this.CurrencyPipe">CurrencyPipe</a> - pipe: <i>value_expression | currency</i> - преобразует число в строку валюты, отформатированную в соответствии с
  правилами языкового стандарта, которые определяют размер и разделитель групп, символ десятичной точки и другие конфигурации,
  зависящие от языкового стандарта.</p>
<!--<div>-->
<!--  <p>Форматируемое значение должно быть типа <i>string | number</i>, принимает параметры:</p>-->
<!--  <p>{{ this.currency | currency}}</p>-->
<!--  <ul>-->
<!--    <li><i>currencyCode: string</i> - код валюты, например, USD для доллара США и EUR евро;</li>-->
<!--    <p>{{ this.currency | currency: 'RUB'}}</p>-->
<!--    <li><i>display: string | boolean</i> - формат индикатора валюты. Одно из следующих:-->
<!--      <ul>-->
<!--        <li><strong>code</strong> - показать код (например, USD);</li>-->
<!--        <p>{{ this.currency | currency: 'USD': 'code'}}</p>-->

<!--        <li><strong>symbol</strong> - (по умолчанию), показать символ (например, $);</li>-->
<!--        <p>{{ this.currency | currency: 'USD': 'symbol'}}</p>-->

<!--        <li><strong>symbol-narrow</strong> - используйте узкий символ для языков, в которых есть два символа для их валюты. Например,-->
<!--          канадский доллар CAD имеет символ CA$ и узкий символ $;-->
<!--          <p>{{ this.currency | currency: 'USD': 'symbol-narrow'}}</p>-->
<!--        </li>-->
<!--        <li><strong>string</strong> - используйте данное строковое значение вместо кода или символа;</li>-->
<!--        <li><strong>boolean</strong> - true для symbol и false для code.</li>-->
<!--      </ul>-->
<!--    </li>-->
<!--    <li><i>digitsInfo: string</i> - десятичные варианты представления, указанные строки в следующем формате minIntegerDigits.minFractionDigits-maxFractionDigits:-->
<!--      <ul>-->
<!--        <p>{{ this.currency | currency: 'USD': 'symbol': '2.4-6'}}</p>-->
<!--        <li><strong>minIntegerDigits</strong> - минимальное количество целых цифр перед десятичной точкой. По умолчанию 1;</li>-->
<!--        <li><strong>minFractionDigits</strong> - минимальное количество цифр после десятичной точки. По умолчанию 2;</li>-->
<!--        <li><strong>maxFractionDigits</strong> - максимальное количество цифр после десятичной точки. По умолчанию 2.</li>-->
<!--      </ul>-->
<!--    </li>-->
<!--  </ul>-->
<!--</div>-->
