<button (click)="events()">events</button>
<button (click)="routerState()">routerState</button>
<button (click)="errorHandler()">errorHandler</button>
<button (click)="navigated()">navigated</button>
<button (click)="onSameUrlNavigation()">onSameUrlNavigation</button>
<button (click)="paramsInheritanceStrategy()">paramsInheritanceStrategy</button>
<button (click)="urlUpdateStrategy()">urlUpdateStrategy</button>
<button (click)="relativeLinkResolution()">relativeLinkResolution</button>
<button (click)="config()">config</button>
<button (click)="url()">url</button>
<button (click)="initialNavigation()">initialNavigation()</button>
<button (click)="setUpLocationChangeListener()">setUpLocationChangeListener()</button>
<button (click)="getCurrentNavigation()">getCurrentNavigation()</button>
<button (click)="resetConfig()">resetConfig</button>
<button (click)="dispose()">dispose()</button>
<button (click)="createUrlTree()">createUrlTree()</button>
<button (click)="navigateByUrl()">navigateByUrl()</button>
<button (click)="navigate()">navigate()</button>
<button (click)="serializeUrl()">serializeUrl</button>
<button (click)="parseUrl()">parseUrl</button>
