<p><b><a [href] = "this.NgModule">NgModule</a></b> - декоратор @NgModule(), который отмечает класс как NgModule и предоставляет
  метаданные конфигурации.</p>
<!--<div>-->
<!--  <p>Метаданные NgModule:</p>-->
<!--  <ul>-->
<!--    <li><i>providers?: Provider[]</i> - зависимости, поставщики которых перечислены здесь, становятся доступными для внедрения в любой-->
<!--      компонент, директиву, канал или службу, являющуюся дочерним элементом этого инжектора;</li>-->
<!--    <li><i>declarations?: Array | any[]></i> - набор доступных для шаблона селекторов включает в себя объявленные здесь и те, которые-->
<!--      экспортируются из импортированных модулей NgModules;</li>-->
<!--    <li><i>imports?: </i> - набор модулей NgModules, экспортированные декларируемые объекты которых доступны для шаблонов в этом модуле;</li>-->
<!--    <li><i>exports?:</i> - набор компонентов, директив и каналов, объявленных в этом модуле NgModule, который можно использовать в-->
<!--      шаблоне любого компонента, являющегося частью модуля NgModule, который импортирует этот модуль NgModule;</li>-->
<!--    <li><i>bootstrap?:</i> - набор компонентов, которые загружаются при начальной загрузке этого модуля;</li>-->
<!--    <li><i>schemas?:</i> - набор схем, объявляющих разрешенные элементы в NgModule. Элементы и свойства, которые не являются ни-->
<!--      компонентами Angular, ни директивами, должны быть объявлены в схеме;</li>-->
<!--    <li><i>id?: string</i> - имя или путь, который однозначно идентифицирует этот модуль NgModule в getModuleFactory.</li>-->
<!--  </ul>-->
<!--</div>-->
