<p><b><a [href] = "this.component">@Component()</a></b> - декаратор @Component помечает класс как компонент Angular и предоставляет
  метаданные конфигурации компонента, которые определяют, как этот компонент будет обрабатываться, создаваться и использоваться
  во время выполения. Компонент должен принадлежать к @NgModule(), чтобы быть доступным для другого компонента или приложения. Чтобы
  сделать его членом NgModule, укажите его в поле declarations NgModule метаданных.</p>
<!--<p>Метаданные компонента:</p>-->
<!--<ul>-->
<!--  <li><i>changeDetection?</i> - устанавливает стратегию обнаружения изменений, используемую для этого компонента. Допустима-->
<!--    одна из стратегий:-->
<!--    <ul>-->
<!--      <li><u>ChangeDetectionStrategy#OnPush</u> - устанавливает стратегию CheckOnce(по запросу);</li>-->
<!--      <li><u>ChangeDetectionStrategy#Default</u> - устанавливает стратегию на CheckAlways.</li>-->
<!--    </ul>-->
<!--  </li>-->
<!--  <li><i>viewProviders?</i> - определяет набор вводимых объектов в компонент, которые видны его дочерним DOM представления;</li>-->
<!--  <li><i>moduleId?</i> - идентификатор модуля, который содержит компонент. Компонент должен уметь разрешать относительные URL-адреса-->
<!--    для шаблонов и стилей;</li>-->
<!--  <li><i>templateUrl?</i> - относительный путь URL-адрес файла HTML-шаблона для компонента Angular;</li>-->
<!--  <li><i>template?</i> - встроенные HTML-шаблон в компонент Angular;</li>-->
<!--  <li><i>styleUrls?</i> - один или несколько относительных путей URL-адресов для файлов, содержащих таблицы стилей CSS, для-->
<!--    использования в этом компоненте;</li>-->
<!--  <li><i>styles?</i> - одна или несколько встроенных таблиц стилей CSS для использования в этом компоненте;</li>-->
<!--  <li><i>animations?</i> - один или несколько анимационных trigger() вызовов, содержащий state() и transition() определения;</li>-->
<!--  <li><i>encapsulation?</i> - политика инкапсуляции для HTML-шаблона и стилей CSS. Один из:-->
<!--    <ul>-->
<!--      <li><u>ViewEncapsulation.Emulated</u> - позволяет изолировать CSS-стили каждого HTML-шаблона(по умолчанию);</li>-->
<!--      <li><u>ViewEncapsulation.None</u> - не изолирует CSS-стили каждого HTML-шаблона, по сути стили написанные в любом компоненте-->
<!--        будут глобальными;</li>-->
<!--      <li><u>ViewEncapsulation.ShadowDom</u> - изолирует CSS-стили каждого HTML-шаблона в  Shadow DOM.</li>-->
<!--    </ul>-->
<!--  </li>-->
<!--  <li><i>interpolation?</i> - отменяет установленные по умолчанию ограничители начала и конца интерполяции;</li>-->
<!--  <li><i>preserveWhitespaces?</i> - true для сохранения или false для удаления потенциально лишних пробелов из скомпилированного-->
<!--    шаблона. Пробельные символы - это символы, соответствующие \s классу символов в регулярных выражениях JavaScript. По умолчанию - -->
<!--    false, если это не переопределено в параметрах компилятора.</li>-->
<!--</ul>-->
