<p><a [href] = "this.AbstractControlDirective">AbstractControlDirective</a> - выступает базовым классом для управляющих директив.
  Подклассы: <u>ControlContainer</u> - наследются: NgForm, FormGroupDirective, FormArrayName, AbstractFormGroupDirective наследуются:
  NgModelGroup, FormGroupName, <u>NgControl</u> - наследются: NgModel, FormControlDirective, FormControlName.</p>

<!--<div>-->
<!--  <ul>-->
<!--    <li><i>control: AbstractControl | null</i> - чтение, ссылка на базовый элемент управления;</li>-->
<!--    <li><i>value: any</i> - чтение, если присутствует возвращает значение из элементов управления, а иначе null;</li>-->
<!--    <li><i>valid: boolean | null</i> - чтение, если у элементов управления нет ошибок связанных валидацией возвращает false, если элемент-->
<!--      управления отсутствует null;-->
<!--    </li>-->
<!--    <li><i>invalid: boolean | null</i> - чтение, если у элементов управления присутствуют ошибки связанные с валидацией возвращает true,-->
<!--      если элемент управления отсутствует null;-->
<!--    </li>-->
<!--    <li><i>pending: boolean | null</i> - чтение, сообщает о том, что выполняется асинхронная проверка и ошибки еще не доступны;</li>-->
<!--    <li><i>disabled: boolean | null</i> - чтение, сообщает о том, что отключен(освобожден от проверок/исключен из родительского элемента/-->
<!--      отключен от пользовательского интерфейса) ли элемент управления, null - если элемент управления отсутствует;-->
<!--    </li>-->
<!--    <li><i>enabled: boolean | null</i> - чтение, сообщает о том, что элемент управления включен в вычисления;</li>-->
<!--    <li><i>errors: ValidationErrors | null</i> - чтение, сообщает об ошибках проверки валидации на элементах управления;</li>-->
<!--    <li><i>pristine: boolean | null</i> - чтение, сообщает, является ли элемент управления нетронутым, что означает, что пользователь еще-->
<!--      не изменял значение в элементе;-->
<!--    </li>-->
<!--    <li><i>dirty: boolean | null</i> - чтение, сообщает, загрязнен ли элемент управления, что означает, что пользователь изменил значение-->
<!--      в элементе;-->
<!--    </li>-->
<!--    <li><i>touched: boolean | null</i> - чтение, сообщает, касались ли элемента управления, что означает, что пользователь инициировал на-->
<!--      элементе blur событие;-->
<!--    </li>-->
<!--    <li><i>status: string | null</i> - чтение, сообщает о статусе проверки элемента управления. Возможные значения: VALID, INVALID,-->
<!--      DISABLED и PENDING;-->
<!--    </li>-->
<!--    <li><i>untouched: boolean | null</i> - чтение, сообщает, остался ли элемент управления нетронутым, что означает, что пользователь еще-->
<!--      не инициировал на элементе blur событие;-->
<!--    </li>-->
<!--    <li><i>statusChanges: Observable any> | null</i> - чтение, подписка на стрим элемента управления которая возвращает статус проверки-->
<!--      всякий раз когда произошло изменение на элементе управления;-->
<!--    </li>-->
<!--    <li><i>valueChanges: Observable any> | null</i> - чтение, подписка на стрим значения элемента управления которая возвращает новое-->
<!--      значение из элемента управления;-->
<!--    </li>-->
<!--    <li><i>path: string[] | null</i> - чтение, возвращает путь от формы верхнего уровня к этому элементу управления;</li>-->
<!--    <li><i>validator: ValidatorFn | null</i> - чтение, функция возвращает все синхронные валидаторы зарегистрированные на элементе-->
<!--      управления;-->
<!--    </li>-->
<!--    <li><i>asyncValidator: AsyncValidatorFn | null</i> - чтение, функция возвращает все асинхронные валидаторы зарегистрированные на-->
<!--      элементе управления;-->
<!--    </li>-->
<!--    <li><i>reset(value?: any = undefined): void</i> - метод, сбрасывает значение с элемента управления;</li>-->
<!--    <li><i>hasError(errorCode: string, path?: string | (string | number)[]): boolean</i> - метод, возвращает логическое значение-->
<!--      о наличии ошибок по коду(errorCode: string) по указанному пути( path?: string | (string | number)[]);?-->
<!--    </li>-->
<!--    <li><i>getError(errorCode: string, path?: string | (string | number)[]): any</i> - метод, возвращает данные об ошибках по-->
<!--      коду(errorCode: string) по указанному пути( path?: string | (string | number)[]).?-->
<!--    </li>-->
<!--  </ul>-->
<!--  <div [formGroup] = "this.fb">-->
<!--    <input type = "text" formControlName = "firstName">-->
<!--    <input type = "text" formControlName = "lastName">-->
<!--    <button (click) = "showLogForm()"> Show Log</button>-->
<!--  </div>-->
<!--</div>-->
