<p><b><a [href] = "this.NgForm">NgForm</a></b> - создает FormGroup экземпляр верхнего уровня и связывает его с формой для отслеживания
  совокупного значения формы и статуса проверки. Как только вы импортируете FormsModule, эта директива по умолчанию становится активной для
  всех form тегов. Вам не нужно добавлять специальный селектор. При желании вы можете экспортировать директиву в локальную переменную
  шаблона, используя ngForm в качестве ключа. Это необязательно, но полезно. Многие свойства из базового экземпляра дублируются в самой
  директиве, поэтому ссылка на нее дает вам доступ к совокупному значению и статусу действительности формы, а также к свойствам
  взаимодействия с пользователем, таким как и .#myForm="ngForm"FormGroup dirty touched. Чтобы зарегистрировать дочерние элементы управления
  в форме, используйте NgMode lс name атрибутом. Вы можете использовать NgModelGroup для создания подгрупп внутри формы. При необходимости
  прослушайте ngSubmit событие директивы, чтобы получить уведомление, когда пользователь инициировал отправку формы. ngSubmit событие
  излучает первоначальное событие формы представления. В формах на основе шаблонов все form теги автоматически помечаются как NgForm. Чтобы
  импортировать, FormsModule но пропустить его использование в некоторых формах, например, для использования собственной проверки HTML5,
  добавьте теги, ngNoForm и form теги не будут создавать NgForm директиву. В реактивных формах использование ngNoForm не требуется, потому
  что form теги инертны. В этом случае вы бы воздержались от использования formGroup директивы.</p>

<!--<div>-->
<!--  <form #form='ngForm' (click)="log(form)">-->
<!--    <input type = "text">-->
<!--  </form>-->
<!--</div>-->
