<p><a [href] = "this.NgForm">NgForm</a> - атрибут: <i>ngForm</i> - применяется к HTML-элементам form на основе шаблонов автоматически и
  возможно не добовлять атрибут ngForm. ngForm создает экземпляр класса FormGroup, который в свою очередь предоставляет возможность
  отслеживаеть значения формы и статусы проверки. Для наглядности, что находится в ngForm возможно локальной перемененной передать
  директиву ngForm( #myTemplateVar="ngForm"). Чтобы зарегистрировать дочерние элементы управления в форме, используйте NgModel с
  name атрибутом. Возможно использовать NgModelGroup для создания подгрупп внутри формы.</p>

<!--<div>-->
<!--  <p>Характеристики ngForm:</p>-->
<!--  <ul>-->
<!--    <li><i>submitted: boolean</i> - чтение, возвращает логическое значение, была ли инициирована отправка формы;</li>-->
<!--    <li><i>form: FormGroup</i> - созданный ngForm экземпляр класса FormGroup;</li>-->
<!--    <li><i>ngSubmit: EventEmitter</i> - генератор событий для события ngSubmit;</li>-->
<!--    <li><i>ngFormOptions</i> - атрибут, в котором содержиться объект options, который отслеживает параметры ngForm экземпляра. Свойство-->
<!--      updateOn объекта options устанавливает по умолчанию для всех дочерних элементов NgModels;</li>-->
<!--    <li><i>formDirective: Form</i> - чтение, свойство form в котором распологается объект FormGroup;</li>-->
<!--    <li><i>control: FormGroup</i> - чтение, свойство FormGroup в котором содержатся все controls;</li>-->
<!--    <li><i>controls: [key: string]: AbstractControl;</i> - чтение, возвращает карту controls управления в этой FormGroup.</li>-->
<!--  </ul>-->
<!--  <form #form = "ngForm" (click) = "log(form)">-->
<!--    <input name="first" ngModel required #first="ngModel">-->
<!--    <input name="last" ngModel>-->
<!--  </form>-->
<!--</div>-->
