<p><a [href] = "this.HttpParams">HttpParams</a> - класс, тело HTTP-запроса / ответа, представляющее сериализованные параметры. Этот класс
  неизменен, все операции мутации возвращают новый экземпляр.</p>

<!--<ul>-->
<!--  <li><i>has(param: string): boolean</i> - метод, сообщает, включает ли тело одно или несколько значений для данного параметра;</li>-->
<!--  <li><i>get(param: string): string | null</i> - метод, извлекает первое значение параметра;</li>-->
<!--  <li><i>getAll(param: string): string[] | null</i> - метод, извлекает все значения параметра;</li>-->
<!--  <li><i>keys(): string[]</i> - метод, получает все параметры для этого тела;</li>-->
<!--  <li><i>append(param: string, value: string | number | boolean): HttpParams</i> - метод, добавляет новое значение к существующим значениям-->
<!--    параметра;</li>-->
<!--  <li><i>appendAll(params:  [param: string]: string | number | boolean | ReadonlyArray< string | number | boolean>; }): HttpParams</i> - -->
<!--    метод, создает новое тело с добавленными значениями для заданного имени параметра;</li>-->
<!--  <li><i>set(param: string, value: string | number | boolean): HttpParams</i> - метод, заменяет значение параметра;</li>-->
<!--  <li><i>delete(param: string, value?: string | number | boolean): HttpParams</i> - метод, удаляет заданное значение или все значения из-->
<!--    параметра;</li>-->
<!--  <li><i>toString(): string</i> - метод, сериализует тело в закодированную строку, где пары ключ-значение (разделенные знаком =) разделены -->
<!--    &.</li>-->
<!--</ul>-->
