<p><a [href] = "this.ActivatedRoute">ActivatedRoute</a> - класс, предоставляет доступ к информации о маршруте, связанным с компонентом
  загруженным в outlet</p>

<!--<div>-->
<!--  <a routerLink = "/ActivatedRoute">ActivatedRoute</a><br>-->
<!--  <a routerLink = "/Router">Router</a><br>-->
<!--  <a routerLink = "/contacts">Contacts</a><br>-->
<!--  <a routerLink = "/links">Links</a><br>-->
<!--  <router-outlet></router-outlet>-->
<!--</div>-->


<!--<div>-->
<!--  <ul>-->
<!--    <li><i>component: Type< any> | string | null</i> - составляющая маршрута, постоянная;</li>-->
<!--    <li><i>data: Observable< Data></i> - наблюдаемый статических и разрешенных данных этого маршрута;</li>-->
<!--    <li><i>fragment: Observable< string | null></i> - наблюдаемый фрагмент URL-адреса, общий для всех маршрутов;</li>-->
<!--    <li><i>outlet: string</i> - название outlet маршрута, постоянное значение;</li>-->
<!--    <li><i>params: Observable< Params></i> - наблюдаемое из параметров матрицы, привязанных к этому маршруту;</li>-->
<!--    <li><i>queryParams: Observable< Params></i> - наблюдаемое параметры запроса, общие для всех маршрутов;</li>-->
<!--    <li><i>snapshot: ActivatedRouteSnapshot</i> -  текущий снимок этого маршрута;</li>-->
<!--    <li><i>url: Observable< UrlSegment[]></i> - наблюдаемый сегмент URL, соответствующий этому маршруту;</li>-->
<!--    <li><i>children: ActivatedRoute[]</i> - чтение, потомки этого маршрута в дереве состояний маршрутизатора;</li>-->
<!--    <li><i>firstChild: ActivatedRoute | null</i> - чтение, первый дочерний элемент этого маршрута в дереве состояний маршрутизатора;</li>-->
<!--    <li><i>paramMap: Observable< ParamMap></i> - чтение, Observable, который содержит карту обязательных и дополнительных параметров,-->
<!--      специфичных для маршрута. Карта поддерживает получение одного и нескольких значений из одного и того же параметра;</li>-->
<!--    <li><i>parent: ActivatedRoute | null</i> - чтение, родитель этого маршрута в дереве состояний маршрутизатора;</li>-->
<!--    <li><i>pathFromRoot: ActivatedRoute[]</i> - чтение, путь от корня дерева состояний маршрутизатора к этому маршруту;</li>-->
<!--    <li><i>queryParamMap: Observable< ParamMap></i> - чтение, Observable, содержащий карту параметров запроса, доступных для всех маршрутов.-->
<!--      Карта поддерживает получение одного и нескольких значений из параметра запроса;</li>-->
<!--    <li><i>routeConfig: Route | null</i> - чтение, конфигурация, используемая для соответствия этому маршруту;</li>-->
<!--    <li><i>root: ActivatedRoute</i> - чтение, корень состояния маршрутизатора.</li>-->
<!--  </ul>-->
<!--</div>-->


