<p><a [href] = "this.RouterLinkActive">RouterLinkActive</a> - атрибут: <i>routerLinkActive</i> - отслеживает, активен ли связанный маршрут
  элемента в настоящий момент, и позволяет добавить один или несколько классов CSS для добавления к элементу, когда связанный маршрут
  активен и если URL изменяется, класс удаляется. Возможно установить несколько классов в одной директиве через массив или строку.</p>
<!--<div>-->
<!--  <p>Совместно с routerLinkActive могут применяться дополнительные атрибуты:</p>-->
<!--  <ul>-->
<!--    <li><i>routerLinkActiveOptions: exact: boolean; | IsActiveMatchOptions</i> - добавлятяет классы только тогда, когда URL-адрес точно -->
<!--      соответствует ссылке.</li>-->
<!--  </ul>-->
<!--</div>-->
