<p><a [href] = "this.ControlContainer">ControlContainer</a> - абстрактный класс наследует(расширяет) класс AbstractControlDirective и
  является базовым для директив, содержащих несколько зарегистрированных экземпляров NgControl. Подклассы: NgForm, FormGroupDirective,
  FormArrayName, <u>AbstractFormGroupDirective</u> - наследуются: NgModelGroup и FormGroupName.</p>
<!--<div>-->
<!--  <ul>-->
<!--    <li><i>name: string | number | null</i> - возвращает название элемента управления;</li>-->
<!--    <li><i>formDirective: Form | null</i> - чтение, директива формы верхнего уровня для элемента управления;</li>-->
<!--    <li><i>override</i> - путь к этой группе;</li>-->
<!--    <li><i>path: string[] | null</i> - чтение, путь.</li>-->
<!--  </ul>-->
<!--</div>-->

