<p><b><a [href] = "this.ngContent">ng-content</a></b> - позволяет внедрять родительским компонентам код html в дочерние компоненты.
  Вместо элемента ng-content извне можно будет передать любое содержимое. У ng-content присутствует атрибут <i>select="[selector]"</i> -
  который выбирает только тот элемент который соответствует заданному селектору "[selector]".</p>

<!--<app-clild-content>-->
<!--  {{ this.parent }}-->
<!--  <p component1>select="[component1]"</p>-->
<!--  <p component2>select="[component2]"</p>-->
<!--</app-clild-content>-->
