<p><a [href] = "this.ContentChildren">@ContentChildren()</a> - декоратор параметров, который
  настраивает запрос содержимого. Используется для получения QueryList элементов или директив из DOM содержимого. Каждый раз, когда дочерний
  элемент добавляется, удаляется или перемещается, список запросов будет обновляться, и наблюдаемые изменения списка запросов будут выдавать
  новое значение. Запросы содержимого устанавливаются до ngAfterContentInit вызова обратного вызова.</p>
<!--<app-content-children-child>-->
<!--<div>-->
<!--  <p #a>Свойства метаданных:</p>-->
<!--  <ul>-->
<!--    <li><i>селектор</i> - тип директивы или имя, используемое для запроса;</li>-->
<!--    <li><i>потомки</i> - если true включить всех потомков элемента. Если false тогда запрашивать только прямые дочерние-->
<!--      элементы элемента;-->
<!--    </li>-->
<!--    <li><i>emitDistinctChangesOnly</i> - наблюдаемый будет выдавать новые значения, только если результат QueryList-->
<!--      изменился;-->
<!--    </li>-->
<!--    <li><i>read</i> - используется для чтения другого токена из запрошенных элементов.</li>-->
<!--  </ul>-->
<!--  <p>Поддерживаются следующие селекторы:</p>-->
<!--  <ul #b>-->
<!--    <li><i>Любой класс с декоратором или@Component@Directive;</i></li>-->
<!--    <li><i>Ссылочная переменная шаблона в виде строки;</i></li>-->
<!--    <li><i>Любой поставщик, определенный в дереве дочерних компонентов текущего компонента;</i></li>-->
<!--    <li><i>Любой провайдер, определенный с помощью строкового токена;</i></li>-->
<!--    <li><i>TemplateRef.</i></li>-->
<!--  </ul>-->
<!--  <p>Следующие значения поддерживаются read:</p>-->
<!--  <ul #c>-->
<!--    <li><i>Любой класс с декоратором или@Component@Directive;</i></li>-->
<!--    <li><i>Любой поставщик, определенный на инжекторе компонента, который соответствует selector этому запросу;</i></li>-->
<!--    <li><i>Любой провайдер, определенный с помощью строкового токена;</i></li>-->
<!--    <li><i>TemplateRef, ElementRef и ViewContainerRef</i></li>-->
<!--  </ul>-->
<!--</div>-->
<!--</app-content-children-child>-->
