<p><a [href] = "this.HttpHeaderResponse">HttpHeaderResponse</a> - класс, который наследуется от базового абстрактного класса
  HttpResponseBase. Частичный ответ HTTP, который включает только статус и данные заголовка, но не тело ответа. HttpHeaderResponse
  доступен в потоке событий ответа, только тогда, когда событие прогресса запрашивается.</p>

<!--<ul>-->
<!--  <li><i>clone(update:  headers?: HttpHeaders; status?: number; statusText?: string; url?: string; } = }): HttpHeaderResponse</i> - -->
<!--  метод, </li>-->
<!--</ul>-->
