<p><a [href] = "this.RouterLink">RouterLink</a> - атрибут: <i>[routerLink]</i> - применяется в качестве атрибута к любому блочному
  HTML-элементу, чаще к тегу а и делает этот элемент ссылкой, при нажатии на которую инициируется навигация по маршруту. Навигация
  открывает один или несколько маршрутизируемых компонентов в одном или нескольких местах на странице при помощи тега router-outlet.
  В [routerLink] передается путь отображения маршрута в URL-адресе.
</p>

<div>
  <p>Совместно с [routerLink] могут применяться дополнительные атрибуты:</p>
  <ul>
    <li><i>queryParams?: Params | null</i> - добавляет параметр запроса к сгенерированному URL-адресу(например: /user/bob?debug=true);</li>
    <li><i>fragment?: string</i> - добавляет фрагмент к сгенерированному URL-адресу(например: /user/bob#education);</li>
    <li><i>queryParamsHandling?: QueryParamsHandling | null</i> - возможность задать директиве обрабатывать параметры запроса по разному,
      при помощи допустимых значений: 'merge' - объединяет данные queryParams в текущие параметры запроса, preserve - сохраняет текущие
      параметры запроса;</li>
    <li><i>preserveFragment: boolean</i> - если задано значение true, фрагмент URL-адреса сохраняется для следующей навигации;</li>
    <li><i>skipLocationChange: boolean</i> - если задано значение true, выполняется навигация без сохранения нового состояния в истории;</li>
    <li><i>replaceUrl: boolean</i> - если установлено значение true, выполняется переход с заменой текущего состояния в истории;</li>
    <li><i>relativeTo?: ActivatedRoute | null</i> - задает корневой URI, используемый для относительной навигации;</li>
    <li><i>state?: [k: string]: any;</i> - определяемое разработчиком состояние, которое может быть передано в любую навигацию. После
      навигации завершается, маршрутизатор записывает объект , содержащий это значение вместе с navigationIdк history.state.</li>
  </ul>
</div>
