<p><b><a [href] = "this.SelectControlValueAccessor">SelectControlValueAccessor</a></b> - по умолчанию используется для записи выбранных
  контрольных значений и прослушивания выбранных контрольных изменений с HTML-элемента select. Значение аксессор используется в директивах
  [formControlName], [formControl] и [ngModel].</p>

<!--<div>-->
<!--  <form [formGroup]="form">-->
<!--    <select formControlName="state">-->
<!--      <option *ngFor="let state of states" [ngValue]="state">-->
<!--        {{ state.abbrev }}-->
<!--      </option>-->
<!--    </select>-->
<!--  </form>-->

<!--  <p>Form value: {{ form.value | json }}</p>-->
<!--</div>-->
