<p><a [href] = "this.FormBuilder">FormBuilder</a> - экземпляр класса FormBuilder по своей сути является синтаксическим сахаром, который
  укорачивает создание экземпляров FormControl, FormGroup или FormArray.</p>

<!--<div>-->
<!--  <ul>-->
<!--    <li><i>group(controlsConfig: [key: string]: any; }, options?: AbstractControlOptions): FormGroup</i> - метод, возвращает новый-->
<!--      FormGroup экземпляр;-->
<!--    </li>-->
<!--    <li><i>control(formState: any, validatorOrOpts?: ValidatorFn | AbstractControlOptions | ValidatorFn[], asyncValidator?:-->
<!--      AsyncValidatorFn | AsyncValidatorFn[]): FormControl</i> - метод, возвращает экземпляр класса FormControl с заданными-->
<!--      валидаторами;-->
<!--    </li>-->
<!--    <li><i>array(controlsConfig: any[], validatorOrOpts?: ValidatorFn | AbstractControlOptions | ValidatorFn[], asyncValidator?:-->
<!--      AsyncValidatorFn | AsyncValidatorFn[]): FormArray</i> - метод, возвращает экземпляр класса FormArray с заданными-->
<!--      валидаторами.</li>-->
<!--  </ul>-->
<!--  <button (click)="this.control()">control()</button>-->
<!--  <button (click)="this.group()">group()</button>-->
<!--  <button (click)="this.array()">array()</button>-->
<!--</div>-->
