<p><a [href] = "this.output">@Output()</a> - отмечает свойство класса компонента как свойство вывода и предоставляет
  метаданные конфигурации. Свойство DOM, привязанное к свойству вывода, автоматически обновляется во время обнаружения изменений.
  Возможно указать необязательное имя для использования в шаблонах при создании экземпляра компонента, которое отображается на имя
  связанного свойства. По умолчанию для привязки вывода используется исходное имя связанного свойства.</p>
<!--<app-output-child (outEvent)="this.outputRes($event)"></app-output-child>-->
