<p><a [href] = "this.ViewRef">ViewRef</a> - абстрактный класс который наследуется от базового абстрактного класса ChangeDetectorRef,
  отражает представления компонента. Компонент класса и связанный с ним шаблон определяют вид. Представление конкретно представлено
  ViewRef экземпляром, связанным с компонентом. Представление, которое непосредственно принадлежит компоненту, называется основным
  представлением. </p>


<!--<ul>-->
<!--  <li><i>destroyed: boolean</i> - чтение, сообщает, было ли это представление уничтожено;</li>-->
<!--  <li><i>destroy(): void</i> - метод, уничтожает представление текущего компонента и связанные представления;</li>-->
<!--  <li><i>onDestroy(callback: Function): any</i> - метод, ловушка жизненного цикла компонента, при срабатывании предоставляет-->
<!--    дополнительные определяемые разработчиком функции очистки для представлений.-->
<!--  </li>-->

<!--</ul>-->

