<p><a [href] = "this.ViewRef">ViewRef</a> - абстрактный класс который наследуется от базового абстрактного класса ChangeDetectorRef,
  отражает представления компонента. Для илюстрации, что из себя представляет класс ViewRef в контексте текущего компонента возможно
  посмотреть в консоли.</p>


<!--<ul>-->
<!--  <li><i>destroyed: boolean</i> - чтение, сообщает, было ли это представление уничтожено;</li>-->
<!--  <li><i>destroy(): void</i> - метод, уничтожает представление текущего компонента и связанные представления;</li>-->
<!--  <li><i>onDestroy(callback: Function): any</i> - метод, ловушка жизненного цикла компонента, при срабатывании предоставляет-->
<!--    дополнительные определяемые разработчиком функции очистки для представлений.-->
<!--  </li>-->

<!--</ul>-->

