<p><b><a [href] = "this.DecimalPipe">DecimalPipe</a></b> - форматирует значение в соответствии с параметрами цифр и правилами локали.
  Языковой стандарт определяет размер группы и разделитель, десятичный знак и другие конфигурации, зависящие от языкового стандарта.</p>
<!--<p>{{ this.num | number: '1.1-6'}}</p>-->
<!--<div>-->
<!--  <p>Форматируемое значение должно быть типа <i>string | number</i>, принимает параметры <i>digitsInfo: string</i> - которое-->
<!--    устанавливает цифровое и десятичное представление форматируемого значения, в формате <i>minIntegerDigits.minFractionDigits-maxFractionDigits</i>:</p>-->
<!--  <ul>-->
<!--    <li><i>minIntegerDigits</i> - минимальное количество целых цифр перед десятичной точкой. По умолчанию 1;</li>-->
<!--    <li><i>minFractionDigits</i> - минимальное количество цифр после десятичной точки. По умолчанию 0;</li>-->
<!--    <li><i>maxFractionDigits</i> - максимальное количество цифр после десятичной точки. По умолчанию 3.</li>-->
<!--  </ul>-->
<!--</div>-->

