<div><b><u>PIPE</u></b>
  <app-async-pipe></app-async-pipe>
  <app-decimal-pipe></app-decimal-pipe>
  <app-json-pipe></app-json-pipe>
  <app-percent-pipe></app-percent-pipe>
  <app-upper-case-pipe></app-upper-case-pipe>
  <app-currency-pipe></app-currency-pipe>
  <app-key-value-pipe></app-key-value-pipe>
  <app-slice-pipe></app-slice-pipe>
  <app-date-pipe></app-date-pipe>
  <app-lower-case-pipe></app-lower-case-pipe>
  <app-title-case-pipe></app-title-case-pipe>
</div>
<hr>
<div><b><u>ELEMENT</u></b>
  <app-ng-container></app-ng-container>
  <app-ng-content></app-ng-content>
  <app-ng-template></app-ng-template>
</div>
<hr>
<div><b><u>@DECORATOR</u></b>
  <div style = "margin-bottom: 5px">
    <p style = "text-align: center"><b>Декораторы отмечающие класс:</b></p>
    <app-ng-module></app-ng-module>
    <app-directive></app-directive>
    <app-component></app-component>
    <app-pipe></app-pipe>
    <app-injectable></app-injectable>
  </div>
  <div style = "margin-bottom: 5px">
    <p style = "text-align: center"><b>Декораторы отмечающие свойства компонента:</b></p>
    <app-input></app-input>
    <app-output></app-output>
  </div>
  <div style = "margin-bottom: 5px">
    <p style = "text-align: center"><b>Декораторы используемые в параметрах конструктора:</b></p>
    <app-self></app-self>
    <app-skip-self></app-skip-self>
    <app-optional></app-optional>
    <app-host></app-host>
    <app-inject></app-inject>
  </div>
  <div style = "margin-bottom: 5px">
    <p style = "text-align: center"><b>Декораторы параметров:</b></p>
    <app-view-child></app-view-child>
    <app-view-children></app-view-children>
    <app-content-child></app-content-child>
    <app-content-children></app-content-children>
  </div>
  <div style = "margin-bottom: 5px">
    <p style = "text-align: center"><b>Прочие декораторы:</b></p>
    <app-host-listener></app-host-listener>
    <app-host-binding></app-host-binding>
  </div>

</div>
<hr>


<div><b><u>DIRECTIVE</u></b>
  <div style = "margin-bottom: 5px">
    <p style = "text-align: center"><b>Common:</b></p>
    <app-ng-class></app-ng-class>
    <app-ng-style></app-ng-style>
    <app-ng-if></app-ng-if>
    <app-ng-for-of></app-ng-for-of>
    <p style = "border: 1px solid black">
      <app-ng-plural></app-ng-plural>
    </p>
    <app-ng-component-outlet></app-ng-component-outlet>
    <app-ng-template-outlet></app-ng-template-outlet>
    <p style = "border: 1px solid black">
      <app-ng-switch></app-ng-switch>
    </p>
  </div>
  <div style = "margin-bottom: 5px">
    <p style = "text-align: center"><b>Forms:</b></p>
    <app-ng-control-status-group></app-ng-control-status-group>
    <app-ng-control-status></app-ng-control-status>
    <app-ng-select-option></app-ng-select-option>
    <app-ng-form></app-ng-form>
    <app-ng-model-group></app-ng-model-group>
    <app-ng-model></app-ng-model>
    <app-form-group-directive></app-form-group-directive>
    <app-form-group-name></app-form-group-name>
    <app-form-control-name></app-form-control-name>
    <app-form-array-name></app-form-array-name>
    <app-form-control-directive></app-form-control-directive>
    <app-abstract-form-group-directive></app-abstract-form-group-directive>
    <div style = "border: 1px solid black">
      <app-default-value-accessor></app-default-value-accessor>
    </div>
    <div style = "border: 1px solid black">
      <app-min-length-validator></app-min-length-validator>
    </div>
  </div>
  <div style = "margin-bottom: 5px">
    <p style = "text-align: center"><b>Router:</b></p>
    <app-router-link></app-router-link>
    <app-router-link-active></app-router-link-active>
    <app-router-link-with-href></app-router-link-with-href>
    <app-router-outlet></app-router-outlet>
  </div>
</div>


<div style = "margin-bottom: 5px"><b><u>CLASS</u></b>
  <div style = "margin-bottom: 5px">
    <p style = "text-align: center"><b>Forms:</b></p>
    <app-abstract-control-directive></app-abstract-control-directive>
    <app-control-container></app-control-container>
    <app-ng-control></app-ng-control>
    <app-abstract-control></app-abstract-control>
    <app-form-group></app-form-group>
    <app-form-array></app-form-array>
    <app-form-control></app-form-control>
    <app-form-builder></app-form-builder>
    <app-validators></app-validators>
  </div>

  <div style = "margin-bottom: 5px">
    <p style = "text-align: center"><b>Core:</b></p>
    <app-change-detector-ref></app-change-detector-ref>
    <app-view-ref></app-view-ref>
    <app-embedded-view-ref></app-embedded-view-ref>
    <app-component-factory></app-component-factory>
    <app-component-factory-resolver></app-component-factory-resolver>
    <app-template-ref></app-template-ref>
    <app-component-ref></app-component-ref>
    <app-view-container-ref></app-view-container-ref>
    <app-renderer2></app-renderer2>
    <app-element-ref></app-element-ref>
    <app-error-handler></app-error-handler>
    <app-simple-change></app-simple-change>
    <app-event-emitter></app-event-emitter>
  </div>
  <div style = "margin-bottom: 5px">
    <p style = "text-align: center"><b>Http:</b></p>
    <app-http-response-base></app-http-response-base>
    <app-http-header-response></app-http-header-response>
    <app-http-response></app-http-response>
    <app-http-error-response></app-http-error-response>
    <app-http-client></app-http-client>
    <app-http-request></app-http-request>
    <app-http-headers></app-http-headers>
    <app-http-params></app-http-params>

  </div>
  <div style = "margin-bottom: 5px">
    <p style = "text-align: center"><b>Router:</b></p>
    <app-route></app-route>
    <app-router></app-router>
    <app-activated-route></app-activated-route>
    <app-router-event></app-router-event>
    <app-router-state></app-router-state>

  </div>

</div>
