<p><b><i>PIPE</i></b></p>
<app-async-pipe></app-async-pipe>
<app-decimal-pipe></app-decimal-pipe>
<app-json-pipe></app-json-pipe>
<app-percent-pipe></app-percent-pipe>
<app-upper-case-pipe></app-upper-case-pipe>
<app-currency-pipe></app-currency-pipe>
<app-key-value-pipe></app-key-value-pipe>
<app-slice-pipe></app-slice-pipe>
<app-date-pipe></app-date-pipe>
<app-lower-case-pipe></app-lower-case-pipe>
<app-title-case-pipe></app-title-case-pipe>
<p><b><i>ELEMENT</i></b></p>
<app-ng-container></app-ng-container>
<app-ng-content></app-ng-content>
<app-ng-template></app-ng-template>
<p><b><i>@DECORATOR</i></b></p>
<app-component></app-component>
<app-directive></app-directive>
