<p><b><i>PIPE</i></b></p>
<app-async-pipe></app-async-pipe>
<app-decimal-pipe></app-decimal-pipe>
<app-json-pipe></app-json-pipe>
<app-percent-pipe></app-percent-pipe>
<app-upper-case-pipe></app-upper-case-pipe>
<app-currency-pipe></app-currency-pipe>
<app-key-value-pipe></app-key-value-pipe>
<app-slice-pipe></app-slice-pipe>
<app-date-pipe></app-date-pipe>
<app-lower-case-pipe></app-lower-case-pipe>
<app-title-case-pipe></app-title-case-pipe>
<p><b><i>ELEMENT</i></b></p>
<app-ng-container></app-ng-container>
<app-ng-content></app-ng-content>
<app-ng-template></app-ng-template>
<p><b><i>@DECORATOR</i></b></p>
<app-ng-module></app-ng-module>
<app-directive></app-directive>
<app-component></app-component>
<app-pipe></app-pipe>
<app-host-listener></app-host-listener>
<app-input></app-input>
<app-output></app-output>
<app-view-child></app-view-child>
<app-content-child></app-content-child>
<app-content-children></app-content-children>
<app-skip-self></app-skip-self>
<app-host></app-host>
