<p><a [href] = "this.PercentPipe">PercentPipe</a> - pipe: <i>value_expression | percent</i> - преобразует число в процентную строку,
  отформатированную в соответствии с правилами языкового стандарта, которые определяют размер и разделитель групп, символ десятичной точки
  и другие конфигурации, зависящие от языкового стандарта.</p>
<!--<div>-->
<!--  <p>{{ this.percent | percent: '2.1-2' }}</p>-->
<!--  <p>Форматируемое значение должно быть типа <i>string | number</i>, принимает параметры <i>digitsInfo: string</i> - которое представляет-->
<!--    десятичные варианты представления, в формате minIntegerDigits.minFractionDigits-maxFractionDigits.</p>-->
<!--    <ul>-->
<!--      <li><i>minIntegerDigits</i> - минимальное количество целых цифр перед десятичной точкой. По умолчанию 1;</li>-->
<!--      <li><i>minFractionDigits</i> - минимальное количество цифр после десятичной точки. По умолчанию 0;</li>-->
<!--      <li><i>maxFractionDigits</i> - максимальное количество цифр после десятичной точки. По умолчанию 0.</li>-->
<!--    </ul>-->
<!--</div>-->
