<p><a [href] = "this.FormControl">FormControl</a> - класс расширяет абстрактный базовый класс AbstractControl, отслеживает значение и статусы
проверки отдельного элемента формы.</p>

<!--<div>-->
<!--  <ul>-->
<!--    <li><i>setValue(value: any, options?:  onlySelf?: boolean; emitEvent?: boolean; emitModelToViewChange?: boolean;-->
<!--      emitViewToModelChange?: boolean; } = }): void</i> - метод, реализован как абстрактный в классе AbstractControl, устанавливает значение-->
<!--      элемента;</li>-->
<!--    <li><i>patchValue(value: any, options?:  onlySelf?: boolean; emitEvent?: boolean; emitModelToViewChange?: boolean;-->
<!--      emitViewToModelChange?: boolean; } = }): void</i> - метод, реализован как абстрактный в классе AbstractControl, исправляет значение-->
<!--      элемента;</li>-->
<!--    <li><i>reset(formState?: any = null, options?:  onlySelf?: boolean; emitEvent?: boolean; } = }): void</i> - метод, реализован как-->
<!--      абстрактный в классе AbstractControl, сбрасывает(очищает) значение элемента;</li>-->
<!--    <li><i>registerOnChange(fn: Function): void</i> - метод, который слушает изменение элемента и вызывает функцию коллбэк;</li>-->
<!--    <li><i>registerOnDisabledChange(fn: (isDisabled: boolean) => void): void</i> - метод, который прослушивает отключенные события и-->
<!--      вызывает коллбэк;</li>-->
<!--    <li><i>_forEachChild(cb: Function): void</i> - метод, ;</li>-->
<!--    <li><i>_syncPendingControls(): boolean</i> - метод, ;</li>-->
<!--    <li><i>_updateValue()</i> - метод, ;</li>-->
<!--    <li><i>_anyControls(condition: Function): boolean</i> - метод, ;</li>-->
<!--    <li><i>_allControlsDisabled(): boolean</i> - метод, .</li>-->
<!--  </ul>-->
<!--</div>-->
