<div>
  <button (click)="this.component()">component</button>
  <button (click)="this.data()">data</button>
  <button (click)="this.fragment()">fragment</button>
  <button (click)="this.outlet()">outlet</button>
  <button (click)="this.params()">params</button>
  <button (click)="this.queryParams()">queryParams</button>
  <button (click)="this.snapshot()">snapshot()</button>
  <button (click)="this.url()">url</button>
  <button (click)="this.children()">children</button>
  <button (click)="this.firstChild()">firstChild</button>
  <button (click)="this.paramMap()">paramMap</button>
  <button (click)="this.parent()">parent</button>
  <button (click)="this.pathFromRoot()">pathFromRoot</button>
  <button (click)="this.queryParamMap()">queryParamMap</button>
  <button (click)="this.routeConfig()">routeConfig</button>
  <button (click)="this.root()">root</button>
</div>
