<p><a [href] = "this.EmbeddedViewRef">EmbeddedViewRef</a> - абстрактный класс наследуется от абстрактного класса ViewRef, представляет
  представление в контейнере представления. На встроенное представление можно ссылаться из компонента, отличного от компонента размещения,
  шаблон которого определяет его, или он может быть определен независимо с помощью файла TemplateRef.</p>

<!--<ul>-->
<!--  <li><i>context: C</i> - контекст для этого представления, унаследованный от элемента привязки;</li>-->
<!--  <li><i>rootNodes: any[]</i> - чтение, корневые узлы для этого встроенного представления.</li>-->
<!--</ul>-->
