<p><b><a [href] = "this.Input">Input</a></b> - декоратор @Input(), который отмечает свойство класса как входное свойство и предоставляет
  метаданные конфигурации. Свойство input привязано к свойству DOM в HTML-шаблоне. Во время обнаружения изменений Angular
  автоматически обновляет свойство данных значением свойства DOM. Возможно указать необязательное имя для использования в
  HTML-шаблонах при создании экземпляра компонента, которое отображается на имя связанного свойства. По умолчанию для привязки ввода
  используется исходное имя связанного свойства.</p>
<!--<div>-->
<!--  <p>В декоратор @Input() можно передать параметр:</p>-->
<!--  <ul>-->
<!--    <li><i>bindingPropertyName?: string</i> - имя свойства DOM, к которому привязано свойство input.</li>-->
<!--  </ul>-->
<!--  <app-input-child [name]="this.name"></app-input-child>-->
<!--  <app-input-child [age]="this.age"></app-input-child>-->
<!--</div>-->

