<p><a [href] = "this.NgComponentOutlet">NgComponentOutlet</a> - атрибут: <i>*NgComponentOutlet</i>  - структурная директива, создает экземпляр одного класса компонента и вставляет его
  Host View в текущее View. NgComponentOutlet обеспечивает декларативный подход к созданию динамических компонентов.</p>

<!--<div>-->
<!--  <p>Возможно управлять процессом создания компонента, используя следующие необязательные атрибуты:</p>-->
<!--  <ul>-->
<!--    <li><i>ngComponentOutletInjector</i> - необязательный обычай, Injector который будет использоваться в качестве родительского для-->
<!--      компонента. По умолчанию используется инжектор текущего контейнера представления;</li>-->
<!--    <li><i>ngComponentOutletContent</i> - необязательный список проецируемых узлов для вставки в раздел содержимого компонента, если он-->
<!--      существует;</li>-->
<!--    <li><i>ngComponentOutletNgModuleFactory</i> - фабрика дополнительных модулей, позволяющая динамически загружать другой модуль, а затем-->
<!--      загружать компонент из этого модуля;</li>-->
<!--  </ul>-->
<!--  <ng-container *ngComponentOutlet="this.a"></ng-container>-->
<!--</div>-->
