<p><b><a [href] = "this.ngTemplate">ng-template</a></b> - определяет шаблон, который не отображается по умолчанию. С помощью
  ng-template возможно определить содержимое, которое отображается только тогда, когда прямо или косвенно разрешено сделать это, что
  позволяет иметь полный контроль над тем, как и когда отображается содержимое. Примечания по использованию:</p>
<!--<ul>-->
<!--  <li><i>Структурные директивы</i> - применяется для хранение содержимого шаблона, которое будет использоваться структурными-->
<!--    директивами. Эти директивы могут добавлять/удалять копии содержимого шаблона на основе своей собственной логики;-->
<!--  </li>-->
<!--  <div *ngIf = "this.bool else isBool">Правда</div>-->
<!--  &lt;!&ndash;ng-template не появится в DOM &ndash;&gt;-->
<!--  <ng-template #isBool><p>Не правда</p></ng-template>-->

<!--  <li><i>TemplateRef</i> - элементы ng-template представлены как экземпляры TemplateRef класса. Чтобы добавить копии шаблона в DOM,-->
<!--    передайте этот объект в ViewContainerRef метод createEmbeddedView();-->
<!--    <ng-template #tempClassRef><p >TemplateRef</p></ng-template>-->
<!--  </li>-->


<!--  <li><i>Переменные шаблона</i> - на элементы можно ссылаться в шаблонах с помощью стандартных переменных шаблона. Такие переменные-->
<!--    шаблона могут использоваться вместе с ngTemplateOutlet директивами для отображения содержимого, определенного внутри ng-template тегов;-->
<!--  </li>-->
<!--  <li><i>Запрос</i> - @ViewChild() поможет найти TemplateRef связанные с ng-template элементом таким образом, чтоб он мог быть-->
<!--    использован программно; например, чтобы передать его ViewContainerRef методу createEmbeddedView();-->
<!--  </li>-->
<!--  <li><i>Контекст</i> - внутри ng-template тегов вы можете ссылаться на переменные, присутствующие в окружающем внешнем шаблоне.-->
<!--    Кроме того, объект контекста может быть связан с ng-template элементами. Такой объект содержит переменные, к которым можно получить-->
<!--    доступ из содержимого шаблона через объявления шаблона ( let и as).-->
<!--  </li>-->
<!--</ul>-->

