<p><b><a [href] = "this.NgClass">NgClass</a></b> - добавляет и удаляет классы CSS в элементе HTML.</p>
<!--<div>-->
<!--  <p>Классы CSS обновляются в зависимости от типа выражения:</p>-->
<!--  <ul>-->
<!--    <li><i>string</i> - добавляются классы CSS, перечисленные в строке (разделенные пробелами);</li>-->
<!--    <li><i>Array</i> - добавлены классы CSS, объявленные как элементы Array;</li>-->
<!--    <li><i>Object</i> - ключи - это классы CSS, которые добавляются, когда выражение, указанное в значении, оценивается как истинное-->
<!--      значение, в противном случае они удаляются.-->
<!--    </li>-->
<!--  </ul>-->
<!--  <p [ngClass] = "'string1 string2'">String</p>-->
<!--  <p [ngClass] = "['array1, array2']">Array</p>-->
<!--  <p [ngClass] = "{'object1': true, 'object2': false, 'object3, object4': true}">Object</p>-->
<!--</div>-->
