<p><a [href] = "this.SimpleChange">SimpleChange</a> - класс, который представляет базовое изменение предыдущего значения на новое. Данный
класс передается как значение в хук ngOnChanges.</p>

<!--<ul>-->
<!--  <li><i>previousValue: any</i> - чтение, предыдущие значение;</li>-->
<!--  <li><i>currentValue: any</i> - чтение, текущее значение;</li>-->
<!--  <li><i>firstChange: boolean</i> - чтение, было ли первым изменением;</li>-->
<!--  <li><i>isFirstChange(): boolean</i> - метод, является ли новое значение первым присвоенным значением.</li>-->
<!--</ul>-->
