<p><a [href]="this.Directive">@Directive()</a> - отмечает класс как директиву. Параметры
  предоставляют метаданные конфигурации, которые определяют, как директива должна обрабатываться, создаваться и использоваться во время
  выполнения. Классы директив, как и классы компонентов, могут реализовывать перехватчики жизненного цикла, чтобы влиять на их
  конфигурацию и поведение. Возможно определить свои собственные директивы для привязки пользовательского поведения к элементам в DOM.
  Директива должна принадлежать ровно одному NgModule. Не объявляйте повторно директиву, импортированную из другого модуля.
  Перечислите класс директивы в declarations поле NgModule.</p>
<!--<div>-->
<!--  <p>Метаданные директивы:</p>-->
<!--  <ul>-->
<!--    <li><i>selector?</i> - селектор CSS, который идентифицирует эту директиву в HTML-шаблоне и запускает создание экземпляра директивы.-->
<!--      Объявить как одно из следующих:-->
<!--      <ul>-->
<!--        <li><u>element-name</u> - выбор по имени элемента;</li>-->
<!--        <li><u>.class</u> - выбор по названию класса;</li>-->
<!--        <li><u>[attribute]</u> - выбор по имени атрибута;</li>-->
<!--        <li><u>[attribute=value]</u> - выбор по имени и значению атрибута;</li>-->
<!--        <li><u>:not(sub_selector)</u> - выбор, только если элемент не соответствует sub_selector;</li>-->
<!--        <li><u>selector1, selector2</u> - выбор, если соответствует либо selector1или selector2.</li>-->
<!--      </ul>-->
<!--    </li>-->
<!--    <li><i>inputs?</i> - перечисляет набор входных свойств с привязкой к данным для директивы(аналог @Input());</li>-->
<!--    <li><i>outputs?</i> - перечисляет набор свойств вывода, связанных с событием(аналог @Output());</li>-->
<!--    <li><i>providers?</i> - настраивает инжектор этой директивы или компонента с помощью токена, который сопоставляется с поставщиком-->
<!--      зависимости;</li>-->
<!--    <li><i>exportAs?</i> - определяет имя, которое можно использовать в шаблоне для назначения этой директивы переменной;</li>-->
<!--    <li><i>queries?</i> - настраивает запросы, которые будут вставлены в директиву;</li>-->
<!--    <li><i>host?</i> - сопоставляет свойства класса с привязками элементов хоста для свойств, атрибутов и событий, используя набор пар ключ-значение.</li>-->
<!--    <li><i>jit?</i></li>-->
<!--  </ul>-->
<!--</div>-->
