<p><b><a [href] = "this.NgPlural">[NgPlural]</a></b> - добавляет/удаляет поддеревья DOM на основе числового значения. Создан для
  множественного числа.</p>
<p><b><a [href] = "this.NgPluralCase">NgPluralCase</a></b> - создает представление, которое будет добавлено/удалено из родительского,
  NgPlural когда данное выражение соответствует выражению множественного числа.</p>

<!--<div>-->
<!--  <ng-container [ngPlural]="this.num">-->
<!--    <ng-template ngPluralCase="2"><p>В точку</p></ng-template>-->
<!--    <ng-template ngPluralCase="4"><p>Не в точку</p></ng-template>-->
<!--  </ng-container>-->
<!--</div>-->
