<p><b><a [href] = "this.NgIf">NgIf</a></b> - структурная директива, которая условно включает шаблон на основе значения выражения,
  преобразованного в логическое значение. Когда выражение принимает значение true, Angular отображает шаблон, указанный в then предложении,
  а если значение false или null, Angular отображает шаблон, указанный в необязательном else предложении. Шаблон по умолчанию для else
  предложения пуст.</p>
<!--<div>-->
<!--  <div *ngIf="this.isCondition; then thenBlock else elseBlock"></div>-->
<!--  <ng-template #thenBlock><p>Then Block</p></ng-template>-->
<!--  <ng-template #elseBlock><p>Else Block</p></ng-template>-->
<!--</div>-->
