<p><b><a [href] = "this.HostListener">@HostListener()</a></b> -  который прослушивает переданное в него событие
  DOM и запускает метод обработчика при возникновении этого события. Angular вызывает метод обработчика, когда элемент хоста испускает
  указанное событие, и обновляет связанный элемент с результатом.</p>
<!--<div>-->
<!--  <p>В декоратор @HostListener() можно передать параметры:</p>-->
<!--  <ul>-->
<!--    <li><i>eventName?: string</i> - тип события DOM для прослушивания;</li>-->
<!--    <li><i>args?: string[]</i> - набор аргументов для передачи методу обработчика при возникновении события</li>-->
<!--  </ul>-->
<!--  <button (click)="onClick()">Клик</button>-->
<!--</div>-->
