<p><b><a [href] = "this.ContentChild" #a>@ContentChild()</a></b> - выступает декоратором параметров, который
  настраивает запрос содержимого. Используется для получения первого элемента или директивы, соответствующей селектору, из DOM
  содержимого. Если содержимое DOM изменяется и новый дочерний элемент соответствует селектору, свойство будет обновлено.
  Запросы содержимого устанавливаются до ngAfterContentInit.</p>
<!--<app-child-content>-->
<!--  <div #contChild>-->
<!--    <p>Свойства метаданных:</p>-->
<!--    <ul>-->
<!--      <li><i>селектор</i> - тип директивы или имя, используемое для запроса;</li>-->
<!--      <li><i>read</i> - используется для чтения другого токена из запрошенного элемента;</li>-->
<!--      <li><i>static</i> - true для разрешения результатов запроса до запуска обнаружения изменений, false для разрешения после обнаружения-->
<!--        изменений. По умолчанию false.</li>-->
<!--    </ul>-->
<!--    <p>Поддерживаются следующие селекторы:</p>-->
<!--    <ul>-->
<!--      <li><i>любой класс с декоратором или @Component и @Directive;</i></li>-->
<!--      <li><i>ссылочная переменная шаблона в виде строки;</i></li>-->
<!--      <li><i>любой сервис, определенный в дереве дочерних компонентов текущего компонента;</i></li>-->
<!--      <li><i>любой провайдер, определенный с помощью строкового токена;</i></li>-->
<!--      <li><i>TemplateRef.</i></li>-->
<!--    </ul>-->
<!--    <p>Следующие значения поддерживаются read</p>-->
<!--    <ul>-->
<!--      <li><i>любой класс с декоратором или @Component@Directive;</i></li>-->
<!--      <li><i>любой сервис, определенный на инжекторе компонента, который соответствует selector этому запросу;</i></li>-->
<!--      <li><i>любой провайдер, определенный с помощью строкового токена;</i></li>-->
<!--      <li><i>TemplateRef, ElementRef и ViewContainerRef.</i></li>-->
<!--    </ul>-->
<!--  </div>-->
<!--</app-child-content>-->

