<p><b><a [href] = "this.NgModel">NgModel</a></b> - создает FormControl экземпляр из модели предметной области и привязывает его к элементу
  управления формой. FormControl экземпляр отслеживает значение, взаимодействие с пользователем, а также статус проверки элемента
  управления и сохраняет вид синхронизирован с моделью. Если эта директива используется в родительской форме, она также
  регистрируется в форме как дочерний элемент управления. Эта директива используется сама по себе или как часть более крупной формы.
  Используйте ngModel селектор, чтобы активировать его. Он принимает модель предметной области как необязательную Input. Если у вас есть
  один-способ связывания с ngModel с []синтаксисом, изменяя значение модели предметной области в классе компоненты устанавливает значение
  в представлении. Если у вас есть двусторонняя привязка с [()]синтаксисом (также известная как синтаксис «банан в коробке»), значение в
  пользовательском интерфейсе всегда синхронизируется с моделью предметной области в вашем классе. Чтобы проверить свойства связанного
  FormControl(например, состояние действительности), экспортируйте директиву в локальную переменную шаблона, используя ngModel в качестве
  ключа. Затем вы можете получить доступ к элементу управления, используя свойство директивы . Однако наиболее часто используемые свойства
  также существуют в элементе управления для прямого доступа. См. Полный список свойств, доступных непосредственно в
  .#myVar="ngModel"control valid dirty AbstractControlDirective

</p>
