<p><a [href] = "this.NgModel">NgModel</a> - атрибут: <i>ngModel</i> - создает экземпляр класса ngModel и привязывает к элементу
  управления формой. ngModel отслеживает значение, взаимодействие с пользователем, а также статус проверки элемента управления.
  Если эта директива используется в родительской форме, она также регистрируется в форме как дочерний элемент управления. ngModel
  можно связать с компонетом при помощи [ngModel] и тогда данные из компонента будет использоваться в шаблоне, возможно использовать
  двусторонюю связку [(ngModel)]. Для наглядности, что находится в ngModel возможно локальной перемененной передать директиву
  ngModel( #myTemplateVar="ngModel"). При использовании ngModel внутренних HTML-элемента form, необходимо указать name атрибут, чтобы
  элемент управления можно было зарегистрировать в родительской форме под этим именем. В контексте родительской формы часто нет
  необходимости включать одностороннюю или двустороннюю привязку, поскольку родительская форма синхронизирует значение за вас. Вы
  получаете доступ к его свойствам, экспортируя их в локальную переменную шаблона, используя ngForm.</p>



<!--<div>-->
<!--  <input [(ngModel)]="name" #ctrl="ngModel" required>-->
<!--  <button (click)="setValue(ctrl)">Set value</button>-->
<!--</div>-->





