<p><a [href] = "this.Validators">Validators</a> - класс представляет набор встроенных статических методов валидаторов, которые можно
  использовать в элементах FormControl.</p>

<!--<ul>-->
<!--  <li><i>min(min: number): ValidatorFn</i> - требует, чтобы значение элемента было больше или равно указанному числу;</li>-->
<!--  <li><i>max(max: number): ValidatorFn</i> - требует, чтобы значение элемента было меньше или равно указанному числу;</li>-->
<!--  <li><i>required(control: AbstractControl): ValidationErrors | null</i> - требует, чтобы значение элемента было обязательным;</li>-->
<!--  <li><i>requiredTrue(control: AbstractControl): ValidationErrors | null</i> - требует, чтобы значение элемента было истинным;</li>-->
<!--  <li><i>email(control: AbstractControl): ValidationErrors | null</i> - требует, чтобы значение элемента было электронная почта;</li>-->
<!--  <li><i>minLength(minLength: number): ValidatorFn</i> - требует, чтобы длина значения элемента была больше или равна минимальной длине;</li>-->
<!--  <li><i>maxLength(maxLength: number): ValidatorFn</i> - требует, чтобы длина значения элемента была меньше или равна максимальной длине;</li>-->
<!--  <li><i>pattern(pattern: string | RegExp): ValidatorFn</i> -  требует, чтобы значение элемента соответствовало шаблону регулярного выражения;</li>-->
<!--  <li><i>nullValidator(control: AbstractControl): ValidationErrors | null</i> - валидатор, который не выполняет никаких операций;</li>-->
<!--  <li><i>compose(validators: null): null</i> - объединяет несколько валидаторов в одной функции;</li>-->
<!--  <li><i>composeAsync(validators: AsyncValidatorFn[]): AsyncValidatorFn | null</i> - объединяет несколько асинхронных валидаторов в одной-->
<!--    функции.</li>-->
<!--</ul>-->
