<p><b><a [href] = "this.DatePipe">DatePipe</a></b> - форматирует значение даты в соответствии с правилами локали. DatePipe выполняется
  только тогда, когда он обнаруживает чистое изменение входного значения. Чистое изменение либо изменение в примитивном входном
  значении(например String, Number, Boolean или Symbol), или измененный эталонный объект (например Date, Array, Function или Object).
  Обратите внимание, что изменение Date объекта не приводит к повторной визуализации Pipe. Чтобы обеспечить выполнение Pipe, необходимо
  создать новый Date объект.</p>

<!--<div>-->
<!--  <p>Форматируемое значение должно быть типа <i>	string | number | Date</i>, принимает параметры:</p>-->
<!--  <ul>-->
<!--    <li><i>format: string</i> - по умолчанию 'mediumDate', существуют различные форматы даты;</li>-->
<!--    <li><i>timezone: string</i> - по умолчанию undefined;</li>-->
<!--    <li><i>locale: string</i> - по умолчанию undefined.</li>-->
<!--  </ul>-->
<!--  <p>{{ this.date | date: "d.mm.yyyy" }}</p>-->
<!--</div>-->
