<p><b><a [href] = "this.ViewChildren">ViewChildren</a></b> - декоратор параметров, который настраивает запрос представления. Используется
  для получения QueryList элементов или директив из представления DOM. Каждый раз, когда дочерний элемент добавляется, удаляется или
  перемещается, список запросов будет обновляться, и наблюдаемые изменения списка запросов будут выдавать новое значение. Запросы просмотра
  устанавливаются до ngAfterViewInit вызова обратного вызова.</p>
<!--<div>-->
<!--  <p>Свойства метаданных:</p>-->
<!--  <ul>-->
<!--    <li><i>селектор</i> - тип директивы или имя, используемое для запроса;</li>-->
<!--    <li><i>read</i> - используется для чтения другого токена из запрошенных элементов.</li>-->
<!--  </ul>-->
<!--  <p>Поддерживаются следующие селекторы:</p>-->
<!--  <ul>-->
<!--    <li><i>Любой класс с декоратором или @Component @Directive;</i></li>-->
<!--    <li><i>Ссылочная переменная шаблона в виде строки;</i></li>-->
<!--    <li><i>Любой поставщик, определенный в дереве дочерних компонентов текущего компонента;</i></li>-->
<!--    <li><i>Любой провайдер, определенный с помощью строкового токена;</i></li>-->
<!--    <li><i>TemplateRef.</i></li>-->
<!--  </ul>-->
<!--  <p>Следующие значения поддерживаются read:</p>-->
<!--  <ul>-->
<!--    <li><i>Любой класс с декоратором или @Component@ Directive;</i></li>-->
<!--    <li><i>Любой поставщик, определенный на инжекторе компонента, который соответствует selector этому запросу;</i></li>-->
<!--    <li><i>Любой провайдер, определенный с помощью строкового токена;</i></li>-->
<!--    <li><i>TemplateRef, ElementRef и ViewContainerRef.</i></li>-->
<!--  </ul>-->
<!--</div>-->
