<p><a [href] = "this.TemplateRef">TemplateRef</a> - абстрактный класс, представляет HTML-элемент ng-template, который можно использовать
  для создания встроенных экземпляров представлений. Чтобы создать экземпляр встроенного представления на основе ng-template используют
  ViewContainerRef метод createEmbeddedView().</p>

<!--<ul>-->
<!--  <li><i>elementRef: ElementRef</i> - чтение, элемент привязки в родительском представлении для этого встроенного представления.</li>-->
<!--  <li><i>createEmbeddedView(context: C): EmbeddedViewRef C</i> - метод, создает экземпляр встроенного представления на основе этого шаблона-->
<!--    и присоединяет его к контейнеру представления.</li>-->
<!--  <p #def>456</p>-->
<!--  <button (click)="show()">Click</button>-->
<!--  <ng-template #abc>-->

<!--  </ng-template>-->
<!--</ul>-->
