<p><a [href] = "this.ComponentFactory">ComponentFactory</a> - абстрактный класс для фабрики, которая может динамически создавать компонент.
  Для получения экземпляра класса ComponentFactory необходимо воспользоваться другим абстрактным классом ComponentFactoryResolver и его
  методом resolveComponentFactory(), который возвращает класс типа ComponentFactory.</p>

<!--<ul>-->
<!--  <li><i>selector: string</i> - чтение, селектор HTML компонента;</li>-->
<!--  <li><i>componentType: Type any</i> - чтение, тип компонента, который создаст фабрика;</li>-->
<!--  <li><i>ngContentSelectors: string[]</i> - чтение, всех элементы в компоненте;</li>-->
<!--  <li><i>inputs: propName: string; templateName: string; }[]</i> - чтение, входы компонента;</li>-->
<!--  <li><i>outputs: propName: string; templateName: string; }[]</i> - чтение, выходы компонента;</li>-->
<!--  <li><i>create(injector: Injector, projectableNodes?: any[], rootSelectorOrNode?: any, ngModule?: NgModuleRef any): ComponentRef C</i> - -->
<!--    метод, создает новый компонент;</li>-->
<!--</ul>-->
<!--<ng-template #parent></ng-template>-->
<!--<button (click)="createChild()">Create Child</button>-->
